include mixins

doctype
html
    head
        title illuminator brain spa
        link(rel='stylesheet', href='brainwave.css')
    body
        h1 illuminator brain spa

        #status-message-wrapper
            #status-message Loading...

        #interface
            section#controls
                h2 new session

                .parameters
                    .control: +text-input('duration', 'Duration (seconds)')
                    .control: +text-input('frequency-base', 'Base frequency (Hz)')
                    .control: +text-input('frequency-start', 'Start differential (Hz)')
                    .control: +text-input('frequency-end', 'End differential (Hz)')

                .button-group
                    .control: +button('button-start', 'Start')
                    .control: +button('button-stop', 'Stop')
                    .clearfix


            section#readout
                .meter
                    span.label Left frequency:
                    span#frequency-left
                .meter
                    span.label Right frequency:
                    span#frequency-right

                .meter
                    = 'R - L = current brainwave frequency = '
                    span#frequency-diff

            section#master
                +slider('osc-gain',   'Binaural beats volume', 0, 0.5, 0.01)
                +slider('audio-gain', 'Audio volume',          0, 0.5, 0.01)
                +slider('audio-pan',  'Audio pan',            -1,   1, 0.01)



        script(src='vendor/jquery/dist/jquery.js', type='text/javascript')
        script(src='vendor/rxjs/dist/rx.all.js', type='text/javascript')
        script(src='vendor/rxjs-jquery/rx.jquery.js', type='text/javascript')
        script(src='brainwave.js', type='text/javascript')
